In [1]:
import numpy as np

arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
result = arr1 + arr2
print(result)  # Output: [5 7 9]

[5 7 9]

In [2]:
result = arr1 - arr2
print(result)  # Output: [-3 -3 -3]

[-3 -3 -3]

In [3]:
result = arr1 * arr2
print(result)  # Output: [ 4 10 18]

[ 4 10 18]

In [4]:
result = arr1 / arr2
print(result)  # Output: [0.25 0.4  0.5 ]

[0.25 0.4  0.5 ]

In [5]:
arr = np.array([[1, 2, 3],
                [4, 5, 6]])

scalar = 10

result = arr + scalar
print(result)
# Output:
# [[11 12 13]
#  [14 15 16]]

[[11 12 13]
 [14 15 16]]

In [6]:
import numpy as np

# Example arrays
a = np.array([[1, 2, 3], [4, 5, 6]])  # Shape: (2, 3)
b = np.array([10, 20, 30])            # Shape: (3,)

# Adding arrays with different shapes
result = a + b

print(result)

[[11 22 33]
 [14 25 36]]

In [9]:
import numpy as np
import pandas as pd

data = np.array([[1, 2, 3],
                 [4, 5, 6],
                 [7, 8, 9]])

columns = ['A', 'B', 'C']
index = ['Row1', 'Row2', 'Row3']

df = pd.DataFrame(data, columns=columns, index=index)
print(df)

      A  B  C
Row1  1  2  3
Row2  4  5  6
Row3  7  8  9

In [10]:
df_subset = df[['A', 'B']]  # Creating a DataFrame from a subset of columns
print(df_subset)

      A  B
Row1  1  2
Row2  4  5
Row3  7  8

In [17]:
import numpy as np

data = [1, 2, 3, 4, 5]
arr = np.array(data)
print(type(arr))

<class 'numpy.ndarray'>

In [19]:
zeros_arr = np.zeros((3, 4), dtype=np.float64)
print(zeros_arr)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [20]:
import numpy as np

# Creating ndarray using numpy.array()
arr1 = np.array([1, 2, 3, 4, 5])

# Creating ndarray filled with zeros
shape = (2, 3)
arr2 = np.zeros(shape, dtype=int)

# Creating ndarray filled with ones
arr3 = np.ones((3, 2))

# Creating ndarray with evenly spaced values
arr4 = np.arange(0, 10, 2)

# Accessing attributes of ndarrays
print("Shape of arr1:", arr1.shape)
print("Data type of arr2:", arr2.dtype)
print("Number of dimensions in arr3:", arr3.ndim)
print("Total number of elements in arr4:", arr4.size)

Shape of arr1: (5,)
Data type of arr2: int32
Number of dimensions in arr3: 2
Total number of elements in arr4: 5

In [22]:
import pandas as pd

# Create a sample DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [6, 7, 8, 9, 10],
    'C': [11, 12, 13, 14, 15]
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
print()

# Drop rows with index labels 0 and 2
df_dropped_rows = df.drop(labels=[0], axis=0)

# Drop column 'B'
df_dropped_columns = df.drop(columns='B')

print("DataFrame after dropping rows with index labels 0 and 2:")
print(df_dropped_rows)
print()

print("DataFrame after dropping column 'B':")
print(df_dropped_columns)

Original DataFrame:
   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

DataFrame after dropping rows with index labels 0 and 2:
   A   B   C
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

DataFrame after dropping column 'B':
   A   C
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15

In [23]:
arr4 = np.arange(0, 10, 2)
print(arr4)

[0 2 4 6 8]